@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: '#679877';
  --accentSecondary: '#C5CC66';
  --accentGradient: 'linear-gradient(90deg, #679877 0%, #BDBD75 100%)';
  --primary: '#070907';
  --secondary: '#161816';
  --tertiary: '#222622';
  --white100: 'hsla(240, 2%, 88%, 1.0)';
  --white90: 'hsla(240, 2%, 88%, 0.9)';
  --white75: 'hsla(240, 2%, 88%, 0.75)';
  --white50: 'hsla(240, 2%, 88%, 0.5)';
  --white25: 'hsla(240, 2%, 88%, 0.25)';
  --white15: 'hsla(240, 2%, 88%, 0.15)';
  --white10: 'hsla(240, 2%, 88%, 0.10)';
  --white5: 'hsla(240, 2%, 88%, 0.05)';
}

/* add the code bellow */ 
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

/* html {
    font-size: 16px;
    @screen md {
      font-size: 16px;
    }
    @screen lg {
      font-size: 16px;
    }
} */

/* @layer base {
  :root {

    --radius: 0.5rem
  }
} */

